[Desktop Entry]
Type=Application
Exec=setxkbmap us real-prog-dvorak -option caps:ctrl_modifier
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=setdvorak
Name=setdvorak
Comment[en_US]=
Comment=
